@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    color: #1e293b;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background-color: #f0f9ffa1;
  }

  body::before {
    content: '';
    position: fixed;
    inset: 0;
    background-image: url('/images/foundationbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: -1;
  }
}

@layer utilities {
  .text-gradient-sky {
    background-image: linear-gradient(to right, #0ea5e9, #0369a1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #c1d1db;
}
::-webkit-scrollbar-thumb {
  background: #7dd3fc;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #38bdf8;
}
